@import 'tailwindcss';

@font-face {
  font-family: 'Satoshi-Regular';
  src:
    url('fonts/Satoshi-Regular.woff2') format('woff2'),
    url('fonts/Satoshi-Regular.woff') format('woff'),
    url('fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'IntegralCF';
  src:
    url('fonts/IntegralCF-Bold.woff2') format('woff2'),
    url('fonts/IntegralCF-Bold.woff') format('woff');
  font-weight: 700; /* Required for bold */
  font-style: normal; /* Required if you have italic variants */
  font-display: swap; /* Optional but recommended */
}

@theme {
  --font-sans: 'Satoshi-Regular', system-ui, sans-serif;
  --font-display: 'IntegralCF', sans-serif;

  /* Define custom font utilities */
  --font-satoshi: 'Satoshi-Regular', sans-serif;
  --font-integral: 'IntegralCF', sans-serif;
  --breakpoint-3xl: 120rem;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}
@utilities {
  .font-satoshi {
    font-family: var(--font-satoshi);
  }

  .font-integral {
    font-family: var(--font-integral);
  }
}
